@charset "utf-8";
body {
    background-image: url(../images/background.png);
    background-size: auto auto;
    background-repeat: repeat;
    border-width: thick;
}
.main-content {
    margin-top: 300px;
    margin-left: 200px;
    margin-right: 200px;
    color: #63E9FF;
}
.main-content h1 {
    color: #22FF00;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-style: normal;
    font-weight: normal;
    border-radius: 30;
    text-align: center;
    background-color: #FF0004;
}
.main-content h2 {
    color: #FF0004;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.centered-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
}
.blank-space {
    height: 2000px;
}
.centered-image h3 {
    color: #FF48FE;
    font-size: 100px;
    background-image: url(../images/pexels-brettjordan-825661.jpg);
    background-size: 600px 600px;
    background-clip: border-box;
    min-height: 400px;
    text-align: center;
    padding-top: 200px;
}
body ol {
    color: #0C7700;
    border-radius: 25px;
    background-color: #000000;
}
body p {
    border-radius: 30;
    background-color: #000000;
}
